<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2019.03.27.1" package="com.capricornio.PSCMovel" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />
	<permission android:name="com.capricornio.PSCMovel.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.capricornio.PSCMovel.permission.C2D_MESSAGE" />
	<application android:label="PSC Móvel">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.capricornio.PSCMovel" />
			</intent-filter>
		</receiver>
	</application>
</manifest>